################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/reserveer
/.vscode
/bin/Debug/net8.0
/obj
/service-account-credentials.json
