@inherits LayoutComponentBase

<PageTitle>Reserveer</PageTitle>

<RadzenDialog></RadzenDialog>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 